body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

form {
    margin-top: 50px;
    text-align: center;
}

#file-input {
    margin-right: 10px;
}

#submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #3e8e41;
}

#result {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
}

.trail {
    /* className for the trail elements */
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: teal;
}

#upload-form {
    margin-top: 200px;
    align-self: center;
}