body {
    overflow: hidden;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

line {
    stroke: #3f51b5;
    stroke-width: 2;
}

p {
    margin: 10px;
    color: #999;
}